ul.timeline {
  list-style-type: none;
  background: url("/static/ico/square.png") repeat-y scroll 30px 0 transparent;
  margin: 50px 0;
  padding: 0;
}

ul.timeline li {
  position: relative;
  margin-bottom: 20px;
}
ul.timeline li .time {
  position: absolute;
  width: 200px;
  text-align: right;
  font-size: 13px;
  left: -200px;
  top: 10px;
  color: #999;
}
ul.timeline li .pic {
  position: absolute;
  width: 200px;
  text-align: right;
  left: -200px;
  top: 30px;
  font-size: 30px;
  line-height: 50px;
  color: #3594cb;
  overflow: hidden;
}
ul.timeline li .version {
  position: absolute;
  width: 200px;
  text-align: right;
  left: -200px;
  top: 100px;
  font-size: 30px;
  line-height: 50px;
  color: #3594cb;
  overflow: hidden;
}
ul.timeline li .behavior {
  position: absolute;
  width: 200px;
  text-align: right;
  left: -200px;
  top: 150px;
  font-size: 18px;
  color: #999;
}
ul.timeline li .number {
  position: absolute;
  background: url("/static/ico/bbq.png") no-repeat scroll 0 0 transparent;
  width: 56px;
  height: 56px;
  left:12px;
  line-height: 56px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
ul.timeline li.alt .number {
  background-image: url("/static/ico/bbq.png");
}
ul.timeline li .content {
  margin-left: 80px;

}
ul.timeline li .content pre {
  background-color: #FFFFFF;
  padding: 20px;
  color: #000;
  font-size: 13px;
  line-height: 20px;
}
ul.timeline li.alt .content pre {
  background-color: #43B1F1;
}

div.post-frame {
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  border-width: 1px;
  border-color: #ddd;
  border-style:solid;

  box-shadow: none;
}

div.left {
  padding-top:10px;
  padding-bottom:10px;
  float:left;
  width:20%;
  border-radius: 4px 0px 0px 4px;
  height: auto;
}

div.right {
  padding-left:30px;
  padding-right:30px;
  padding-top:10px;
  padding-bottom:10px;
  float:left;
  width:80%;
  border-radius: 0px 4px 4px 0px;
  height: 100%;
}

p.fontname {
  font-size: 20px;
  font-family: sans-serif;
  text-align:center;
  padding-top:20px
}

img.headimg{
  display: block;
  padding-top:30px;
  margin: 0 auto;
  max-height:180px;
  max-width:150px;
}

.new_activity_icon {
  position: fixed;
  left: 1205px;
  top: 290px;
  cursor: pointer;
  z-index: 1;
}

.unread_message_icon {
  position: fixed;
  left: 1205px;
  top: 430px;
  cursor: pointer;
  z-index: 1;
}

.small_map_icon {
  position: fixed;
  left: 1205px;
  top: 220px;
  cursor: pointer;
  z-index : 1;
}

.calender_icon {
  position: fixed;
  left: 1205px;
  top: 360px;
  cursor: pointer;
  z-index : 1;
}

.map_popup {

  width: 1200px;
  height: 500px;
}

.calender_popup {
  width: 680px;
  height: 200px;
}

.home_portrait {
  position: absolute;
  left: 190px;
  top: 270px;
  width: 200px;
  z-index : 1;
 }

 .home_profile {
  position: absolute;
  left: 400px;
  top: 360px;
  width: 200px;
  z-index : 1;
 }

 .profile_font {
  font-size: 15px;
  font-family: "Apple Chancery", Times, serif;
  font-weight: bold;
  color: #ffffff;
 }

 .home_follow {
  position: absolute;
  right: 90px;
  top: 447px;
  width: 200px;
  z-index : 1;
 }
