{% extends "basic.html" %}

  {% block title %}
  <title>Activity Detail</title>
  {% endblock %}

      {% block container %}
      <!-- containner -->
      <div class="container">
        <!-- left post-frame -->
        <div class = "left post-frame">
          <a href = "{%url 'personalhome' activity.user.id%}"><img src="{% url 'infophoto' activity.user.info.id %}" class="headimg"/></a>
          <p  class="fontname">{{activity.user.info.firstname}} {{activity.user.info.lastname}}</p><p style=" text-align:center">Activity Initiator</p><p style=" text-align:center">{{activity.posttime}}</p>
        </div>
        <!-- end left post-frame -->

        <!-- right post-frame -->
        <div class = "right post-frame" id = "followers">
          <p style="font-size: 25px; padding:20px; text-align:center;" ><img src="/static/pictures/{{activity.activitytype}}.png") style="max-height:45px;max-width:45px;">&nbsp&nbsp&nbsp{{activity.name}}</p>
          <p style="font-size: 15px;">Time: {{activity.time}}</p>
          <p style="font-size: 15px;">Location: {{activity.address}}</p>
          <p style="font-size: 15px;">Description: {{activity.description}}</p>
          {%if activity.picture%}
            <div><img src="{% url 'activityphoto' activity.id %}" style="padding-top:20px;padding-bottom:10px; display: block;margin: 0 auto;max-width:700px;"/></div>
          {%endif%}
          <p style="font-size: 15px;padding-top:30px">Followers:
            <span id="allfollowers">
          {%for follower in activity.getFollowers%}
            <a href = "{%url 'personalhome' follower.user.id%}"><img src="{%url 'infophoto' follower.user.info.id%}" style="max-height:50px; max-width:50px"/></a>
            <!--  <img src="../static/pictures/Ying2.jpg" style="max-height:45px;max-width:45px;"/>-->
            {% if follower.user.id == user.id %}<span hidden id="markfollowerhidden">1</span>{%endif%}
          {%endfor%}
        </span>
        <span hidden id="useridhidden">{{user.id}}</span>
        <span hidden id="actidhidden">{{activity.id}}</span>
        <span hidden id="actuseridhidden">{{activity.user.id}}</span>
        <span hidden id="markhidden">0</span>
          &nbsp&nbsp<img id = "joinpic" src="/static/pictures/join_icon2.png" style="cursor:pointer; max-height:50px;" >
          </p>
        </div>
        <!-- end right post-frame -->



        {%for feedback in feedbacks%}
          <div class = "left post-frame">
            <a href = "{%url 'personalhome' feedback.user.id%}"><img src="{% url 'infophoto' feedback.user.info.id %}" class="headimg"/></a>
            <p  class="fontname">{{feedback.user.info.firstname}} {{feedback.user.info.lastname}}</p><p style=" text-align:center">Follower</p><p style=" text-align:center">{{feedback.time}}</p>
          </div>

          <div class = "right post-frame">
            <p style="padding-top:10px"> {{feedback.text}}
              {%if feedback.picture%}
                  <img src="{% url 'feedbackphoto' feedback.id %}"
                       style="padding-top:20px;padding-bottom:10px; display: block;margin: 0 auto;max-width:700px;"></img>
              {%endif%}
            </p>
          </div>
        {%endfor%}

        <div style="border-width: 0px;" class = "left post-frame">
          <img src='{%url "infophoto" user.info.id%}' class="headimg"/>
          <p  class="fontname">{{user.info.firstname}} {{user.info.lastname}}</p>
        </div>
        <div style="padding-top:40px;border-width: 0px;" class = "right post-frame">
          <form action = '{%url "addfeedback" activity.id%}'enctype="multipart/form-data" method="post">
            <table align = "center">
              <tr>
                <td>
                  <span class="form-group"><textarea onkeyup="checkLen(this)" name = "text" placeholder="Give us your feedback..." style="  opacity: 0.746" rows="8" cols="105"></textarea></span>
                </td>
                <td rowspan=2>
                  &nbsp&nbsp<button class="btn btn-default" type="submit" >Post</button>
                </td>
              </tr>
              <tr>
                <td>
                  <input name="picture" type="file" >
                </td>
              </tr>
            </table>
            {% csrf_token %}
          </form>
        </div>
      </div>
      <!-- end container -->
      {% endblock %}

    {% block additional_javascript %}
    <script src="../static/js/group.js"></script>
    <script src="../static/js/actdetail.js"></script>
    {% endblock %}