{% extends "basic.html" %}
    {% block title %}
    <title>Home</title>
    {% endblock %}

    {% block container %}
    <div class="container">
      <div class="row">
      {% for people in peoples %}
        <div class="col-sm-3" id="user_{{people.user.id}}">
            <a href="{%url 'personalhome' people.user.id%}"><img  style="max-height: 200px" src="{%url 'infophoto' people.id%}" class="img-thumbnail"></a>
            <table class="table table-bordered">
            <tr>
              <td>
                <strong>{{people.firstname}}&nbsp{{people.lastname}}</strong>
                {% if people.user == user %}
                {% else %}
                  {% if people.user in unconfirmed %}
                  <p style="float:right">Request Sent</p>
                  {% else %}
                    {% if people.user in user.get_friends %}
                      <a style="float:right" href="/follow/{{people.user.id}}"><button class="btn btn-default">UnFriend</button></a>
                    {% else %}
                      <a style="float:right" href="/follow/{{people.user.id}}"><button class="btn btn-default">Add Friend</button></a>
                    {% endif %}
                  {%endif%}
                {% endif %}
              </td>
            </tr>
          </table>
        </div>
      {% endfor %}
      <div class="row">
    </div>
    {% endblock %}