{% extends "basic.html" %}
  {% block title %}
  <title>Reset Password</title>
  {% endblock %}

  {% block additional_css %}
    <link href="{{STATIC_URL}}css/signin.css" rel="stylesheet">
  {% endblock %}


    {% block container %}
    <div class="container">
      <form class="form-signin" action="{% url 'reset_password' %}" method="POST">
        <h2 class="form-signin-heading" align="center">Reset Password:</h2>
        <input type="password" name="current_password" class="form-control" placeholder="Current Password" autofocus>
        <input type="password" name="new_password1" class="form-control" placeholder="New Password">
        <input type="password" name="new_password2" class="form-control" placeholder="Confirm">
        <div><button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button></div>
        {% csrf_token %}
      </form>
      {% for feed_back in feedback %}
        <p style="color: red">{{feed_back}}</p>
      {% endfor %}
    </div><!-- /.container -->
    {% endblock %}

