<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/static/ico/favicon.png">

  <title>Sign up</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/css/signin.css" rel="stylesheet"></head>

<body style="background: url('static/pictures/background.jpg')">

  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href={%url 'signin'%}>Sign in</a>
        </li>
      </ul>
    </div>
  </div>
  <br>

  <div class="container" align="center">
    {% for error in form.non_field_errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    <h2 class="form-signin-heading"   align="center">Sign up</h2>

    <form action={%url 'signup'%} method = "Post" enctype="multipart/form-data" >
      {% csrf_token %}
      <br>
      <table align="center">
        {% for field in form.visible_fields %}
        <tr>
          <td>{{field.label_tag}}:</td>
          <td>{{field}}</td>
          <td style="color: red">{{field.errors}}</td>
        </tr>
        {% endfor %}
      </table>
      {% for field in form.hidden_fields %}
        {{field}}
      {% endfor %}
      <br>
      <table align="center">
        <tr>
          <td width="300px">
            <input class="btn btn-lg btn-primary btn-block" name = "submit" style=" float:right"  type="submit" value="Register" style="float:center"/>
          </td>
        </tr>
      </table>

    </form>
  </div>
  <!-- /container -->

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
</body>
</html>